.hero-image {
  height: 400px;
  width: 100%;
  background-image: url('../img/hero_mobile_.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .hero-image {
    height: 620px;
    background-image: url('../img/hero_tablet.jpg');
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-image {
    height: 620px;
    background-image: url('../img/hero_desktop.jpg');
    background-size: cover;
  }
}