.offers-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.card {
  color: var(--text-secondary-color);
  background-color: black;
  padding: 24px 16px;
  width: 312px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 16px;
}

.card header {
  display: block;
  position: static;
  background-color: transparent !important;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card footer {
  display: block;
  position: static;
  background-color: transparent;
}